server {
    listen 80;
    server_name _;
    root /var/www/html/public;
    index index.php index.html;

    # Bloque de PHP-FPM
    location ~ \.php$ {
        # El nombre 'app' es el nombre del servicio PHP en docker-compose
        fastcgi_pass app:9000; 
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
        # Aumentar timeout si la app es lenta
        fastcgi_read_timeout 300; 
    }
    
    # Bloque para archivos estáticos (opcional, Nginx ya lo maneja bien)
    location ~ /\.(?!well-known).* {
        deny all;
    }

    # Laravel Front Controller
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
}